<div class="container">
    <img class="background-first" src="../assets/img/background-home-first.png" alt="background" />
    <div class="first">
        <div class="numbers">
            <p class="active-number">01</p>
            <p>02</p>
            <p>03</p>
            <p>04</p>
        </div>
        <div class="container-current-element">
            <div class="description">
                <div class="price-current-product">
                    <p class="valuta">€</p>
                    <p>1.330,00</p>
                </div>
                <div class="description-current-product">
                    <div class="info">
                        <h2>Discover</h2>
                        <h2 class="item-title">Iphone 12</h2>
                    </div>
                    <button class="btn-buy">Buy Now</button>
                </div>
            </div>
            <div class="photo">
                <img src="../assets/img/iphone12.png" alt="current product image" />
            </div>
            <div class="items">
                <div class="item-description">
                    <p>The professional camera system makes a shot forward even more incredible. A 47% larger sensor and
                        larger pixels greatly increase the amount of light flowing into the wide angle.</p>
                </div>
                <div class="item-description">
                    <p>The professional camera system makes a shot forward even more incredible. A 47% larger sensor and
                        larger pixels greatly increase the amount of light flowing into the wide angle.</p>
                </div>
            </div>
        </div>
        <div class="first-arrow">
            <i (click)="goBack()" class="fas fa-angle-left"></i>
            <i (click)="goNext()" class="fas fa-angle-right"></i>
        </div>
    </div>
</div>